@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

body {
    margin: 0;
}

.white {
    color: #ffffff;
}

.white-background {
    background-color: white;
}

.black {
    color: #000000;
}

.vehicle-request-card {
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main-body {
   background-color: #f4f5f6;
}


.hero {
    background-image: url("/hero.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
}
