@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

body {
    margin: 0;
}

.white {
    color: #ffffff;
}

.white-background {
    background-color: white;
}

.black {
    color: #000000;
}

.vehicle-request-card {
    /*border-radius: 5px;*/
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main-body {
   background-color: #f4f5f6;
}


.hero {
    background-image: url("/hero8.webp");
    background-size: cover;
    background-position-x: center;
    background-position-y: top;
    /*background-attachment: fixed;*/
}

.promo-card-1 {
    background: url('/promo-background-1.webp');
    background-size: cover;
    background-position-y: center;
}

.promo-card-2 {
    background: url('/promo-background-2.webp');
    background-size: cover;
    background-position-y: center;
}

.promo-card-3 {
    background: url('/promo-background-3.webp');
    background-size: cover;
    background-position-y: center;
}

.blur-text {
    color: transparent;
    text-shadow: 0 0 10px #000;
}

.dropzone {
    padding-top: 45px;
    padding-bottom: 45px;
    margin-top: 20px;
    background-color: #fafafa;
    border-color: #eee;
    border-style: dashed;
    border-width: 2px;
    border-radius: 15px;
}

.dropzone-thumb-inner {
    display: flex;
    minWidth: 0;
    overflow: hidden;
}

.dropzone-thumb-img {
    display: block;
    width: auto;
    height: 100%;
}
